Package: com.example.caprice32ios
Name: Caprice32
Version: 4.6.0-1
Architecture: iphoneos-arm
Description: Amstrad CPC Emulator (armv7 / iOS 9.3 port)
Maintainer: You
Author: Ulrich Doewich, Colin Pitrat, and contributors (upstream); iOS port by you
Section: Games
Depends: firmware (>= 9.3)
